@define-color foreground #C2C2C2;
@define-color foreground-inactive #aaaaaa;
@define-color background #333333;
@define-color background-active #FAD8BB;

* {
    font-family: "IosevkaTerm Nerd Font";
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

window#waybar {
    background: @background;
}

#workspaces,
#clock,
#tray,
#battery,
#backlight,
#tooltip,
#network,
#pulseaudio {
    padding: 0px 8px;
    color: @foreground;
}

#workspaces button {
    color: @foreground;
    padding: 0px 1px;
    border-radius: 0px;
}

#workspaces button.empty {
    color: @foreground-inactive;
    background-color: @background;
}

#workspaces button.active {
    color: @background;
    background-color: @background-active;
}
