* {
    border: none;
    border-radius: 14px;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 500;
    font-size: 18px;
    padding: 0;
}

window#waybar {
    /* background: #1d2021; */
    background: rgba(29, 32, 33, 0.6);
    border: 2px solid #3c3836;
}

tooltip {
    background-color: #1d2021;
    border: 2px solid #7c6f64;
    border-radius: 14px;
}

#clock,
#tray,
#battery,
#backlight,
#network,
#pulseaudio {
    background-color: #303536;
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
    border: 2px solid #434a4c;
    border-radius: 12px;
    color: #d4be98;
}


#window {
    background-color: #d4be98;
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
    border: 2px solid #434a4c;
    border-radius: 12px;
    color: #303536;
}

#workspaces {
    background-color: #303536;
    margin: 6px 0px 6px 6px;
    padding: 2px;
    border: 2px solid #434a4c;
    border-radius: 12px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #c7ab7a;
}

#workspaces button.focused {
    color: #ddc7a1;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

#clock {
    background-color: #303536;
    border: 2px solid #434a4c;
    border-radius: 12px;
    color: #d4be98;
}

#tray {
    background-color: #303536;
    border: 2px solid #434a4c;
    border-radius: 12px;
    opacity: 1;
}

#battery {
    background-color: #a9b665;
    border: 2px solid #c7ab7a;
    border-radius: 12px;
    color: #6c782e;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #ddc7a1;
    border: 2px solid #d4be98;
    color: #c14a4a;
}
