@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background rgba(46, 52, 64, 0.6); /*2e3440 303536*/
@define-color background-active #4b556e;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 22px;
    /*padding: 1px;*/
    margin: 0;
}

window#waybar {
    background: rgba(46, 52, 64, 0.3);
    /*background: @background;*/
    /*border: 1px solid @background;*/
}

#workspaces,
#clock,
#tray,
#battery,
#backlight,
#tooltip,
#network,
#pulseaudio {
    background-color: @background;
    padding: 1px 8px;
    color: @foreground;
}

#workspaces button {
    color: @foreground;
    padding: 0px 2px;
    border-radius: 0px;
}

#workspaces button.empty {
    color: @foreground-inactive;
    background-color: @background;
}

#workspaces button.active {
    color: @foreground;
    background-color: @background-active;
}
